{% extends "messageBase.html" %}

{% block head %}

{{ parent() }}

<script src="https://cdn.tiny.cloud/1/9aqiottm4mvmw0otczzdcpexfj3c5b2dwv15qv9jomesqg6u/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#editor',
        menubar: false
    });
</script>

{% endblock %}

{% block content %}

  <form action="genMesLink.php" method="post">
    <div class="container mt-4 mb-4">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="h2 mb-4">Message Encrypter</h1>
            <div class="form-group">
            <textarea name="encryptText" id="editor" placeholder="Enter your message"></textarea>
            </div>
          <button type="submit" class="btn btn-primary float-right"><span class="fa-solid fa-floppy-disk"></span> Generate link</button>
        </div>
      </div>
    </div>
  </form>

{% endblock %}